@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: Montserrat, sans-serif ;
    
}

.content-container {
    padding-top: 2rem;
    padding-left: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 3px black;
}

nav {
    display: flex;
    align-items: center; 
}

nav > a {
    margin: 0.05rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
}
form > input {
    margin-top: 0.5rem;
    border-radius: 5px;
    padding: 0.2rem;
}

form > input[type=submit]{
    background-color: rgb(202, 255, 159);
}

form > input[type=submit]:hover{
    background-color: rgb(161, 194, 132);
    cursor: pointer;
}

button {
    padding: 0.2rem !important;
    margin: 0.5rem 0 !important;
    background-color: rgb(255, 244, 147) !important;
    width: 55px  !important;

}

button:hover{
    background-color: rgb(177, 133, 68) !important;
    cursor: pointer !important;
}

.cards-container{
    margin: 2rem  0 !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.card{
    /* border: solid 3px rgb(161, 168, 155); */
    width: 340px !important;
    height: 250px !important;
    padding: 1rem !important;
    margin: 0.5rem !important;
    box-shadow: 5px 5px 5px rgb(184, 184, 184) !important;
    transition: transform .2s !important;
}

.card:hover {
    transform: scale(1.03) !important;
    background-color: rgb(245, 245, 245) !important;
}

h2 {
    font-size: 18px !important;
    font-weight: bold  !important;
}

.commercial {
    color: rgb(86, 152, 158);
}

.industrial {
    color: rgb(109, 105, 143);
}

.residential {
    color: rgb(143, 108, 105);
}

.city {
    color: rgb(108, 143, 105);
}

.compare {
    margin-left: 1rem;
    background-color: rgb(152, 179, 122);
}

.chart-container {
    background-color: antiquewhite;
}

.chart-div {
    /* background-color: blue; */
    max-height: 700px;
}